body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: url("pattern_062.gif");
    width: 600px;
    margin:  0 auto;
    padding: 30px;
    color: #333;
}

#container {
    position: relative;
    width: 600px;
    background-color: #eef;
    margin: 0px;
    top: -50px;
    left: 60px;
    padding: 50px 0px 0px 0px;
}
#content {
    position: relative;
    padding: 20px 30px 20px 50px;
}

#callout {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -125px;
    width: 150px;
    background: #eef;
    border-right: 1px solid #aba;
    padding: 175px 10px 10px 10px;
    background: #eef;
}
#nav {
    height: 30px;
    text-align: center;
    padding: 0px, 0px, 10px, 30px;
}

 #nav a {
    display: block;
    text-decoration: none;
    color: blue;
    line-height: 30px;
    padding: 0px 49px 10px;
    position: relative;
    float:left;
}
.login-right-space {
    position: absolute;
    right: 10px;
    width: 200px;

}

.login-area {
    position: relative;
    right: 10px;
}

.main-title {
    color: #222;
    font-size: 40px;
    margin-bottom: 30px;
    text-decoration: none;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.error {
    color: red;
    font-size: 16px;
}

label {
    display: block;
    font-size: 18px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {

    width: 170px;
    padding: 2px;
    font-family: monospace;
}

.subject {
    width: 400px;
}

input[type=password] {
    padding: 2px;
    width: 170px;
}

input[type=submit] {
    font-size: 24px;
}

.post-subject {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    color: #333;
}
.post-subject:hover {
    text-decoration: underline;
}

.post-subject:visited {
    color: #333;
}

textarea {
    width: 500px;
    height: 400px;
    font-size: 17px;
    font-family: monospace;
}

.post + .post {
    margin-top: 50px;
}

.post-heading {
    position: relative;
    border-bottom: 1px solid #666;
}

.post-created {
    font-size: 12px;
    text-align: center;
}

.post-content {
    margin-top: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}


