body {
    font-family: sans-serif;
    width:800px;
    margin: 0 auto;
    padding: 30px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}
.post-subject {
    font-weight: bold;
    font-size: 20px;
}

.post-content {
    margin: 20px;
}
.post-created {
    font-style: italic;
    font-size: 10px;
}
.permalink {
    font-size: 10px;
}

hr {
    margin: 20px auto;
}