<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

    <title> Michael's webDev Journal</title>
</head>

<body>
    <div id="container">
        <h2>
            <a href='/' class="main-title">
            Michael's webDev Blog
            </a>
        </h2>

        <div id="callout">
                <p>
                    Hello I'm Michael, welcome to software developemnt journal. 

                    It's both a blog about learning computer science and a personal workspace for learning web development.
                </p>
                <p>
                    My github profile is <a href="http://www.github.com/mlennon3">here.</a>
                <p>
                    This project started with <a href="http://udacity.com" >Udacity's</a> CS253 course and I am continuing this project independently.
                
            </p>

        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="nav">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            <a href="/logout">Logout</a>
        </div>
        
    </div>
</body>

</html>