{% extends "base.html" %}

{% block content %}
    <form method="post">
    <label>Username
        <input type="text" name="username" value={{username}}>
    </label>
    <div class="error">{{username_error}}</div>
    <br>
    <label>Password
        <input type="password" name="password">
    </label>
    <div class="error">{{password_error}}</div>
    <br>
    <label>Verify Password
        <input type="password" name="verify">
    </label>
    <div class="error">{{password_match_error}}</div>
    <br>
    <label>Email(optional)
        <input type="text" name="email" value={{email}}>
    </label>
<div class="error">{{email_error}}</div>
<input type="submit">

{% endblock %}